<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="orasource" connectionString="User Id=rating;Password=rating;Data Source=mtu;Pooling=false;"
             providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <appSettings>
        <clear />
        <add key="timeoutAfterError" value="180000" />
        <!-- 3 minute -->
        <add key="timeoutAfterWork" value="600000" />
        <!-- 1 minutes-->
        <add key="cdrPath" value="d:\cdr" />
        <add key="minSize" value="24" />
        <!-- 24 hour, period of query from  cdr -->
        <add key="maxSize" value="32" />
        <!-- poll size, must be bigger than minSize -->
        <add key="maxRec" value="50000" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-4.999.9.9" newVersion="4.121.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider"
                     type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                     serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider"
                     type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                     serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>